.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width: 90px;
}

.navbar button{
    background-color: #d10c0c;
    font-size: 16px;
    color: #fcf7f7;
    border: 1px solid #d10c0c;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background-color: #f8f7f7;
    color: #d10c0c;
}

.navbar-middle{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #d10c0c;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

@media (max-width:1050px){
    .navbar .logo{
        width:80px;
    }
    .navbar-middle{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}

@media (max-width:900px){
    .navbar .logo{
        width:70px;
    }
    .navbar-middle{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }

    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width:750px){
    .navbar-middle{
        display: none;
    }
}